<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мій e-commerce сайт{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Головна</a></li>
            <li><a href="/products/">Продукти</a></li>
            <li><a href="/about/">Про нас</a></li>
            <li><a href="/contact/">Контакти</a></li>
        </ul>
    </nav>

    <nav class="search-nav">
        <form action="/search/" method="get">
            <input type="text" name="q" placeholder="Пошук..." required>
            <button type="submit">Пошук</button>
            <a href="/catalog/" class="button">Каталог</a>
        </form>
    </nav>

    {% block content %}
    {% endblock content %}

    <footer>
        <ul>
            <li><a href="/">Головна</a></li>
            <li><a href="/products/">Продукти</a></li>
            <li><a href="/about/">Про нас</a></li>
            <li><a href="/contact/">Контакти</a></li>
        </ul>
    </footer>
</body>
</html>
